CntStat/
List/
Figure*/

.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

Factors/**/SysMat*

Geant4Sim/Preview/
Geant4Sim/3D_DRO_Hoffman_v6_20160331_DICOM/
Geant4Sim/3D_DRO_Hoffman_v6_raw/*.yaff
Geant4Sim/Macro/Hoffman_Target_*/

distributed/scripts/logs/
